<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC73zUh35hrtJpSZBUgJpK7HIkOOTHvZ9c</string>
	<key>GCM_SENDER_ID</key>
	<string>1054562391414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pahlavan.monmate</string>
	<key>PROJECT_ID</key>
	<string>mongomate</string>
	<key>STORAGE_BUCKET</key>
	<string>mongomate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054562391414:ios:85f68d80a6559a4d989657</string>
</dict>
</plist>